h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgb(55, 55, 55);
  font-size: 50px;
}
/* Navbar.css */

.navbar {
  background-color: white; /* Example background color */
  color: white; /* Example text color */
}

.navbar-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 100px; /* Example padding */
}

.navbar-container img {
  margin-right: 10px; /* Add spacing between image and text */
}

.navbar-container h1 {
  margin-top: 100px;
}

.color-changing-text {
  animation: colorChange 10s linear infinite alternate; /* Use the colorChange animation */
}

@keyframes colorChange {
  0% {
    color: #6528F7; /* Start with red color */
  }
  50% {
    color: #A076F9; /* Transition to blue color at 50% of the animation */
  }
  100% {
    color: #1ac189; /* Return to red color at the end of the animation */
  }
}

