body {
  background: linear-gradient(to bottom, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 255) 40%, rgba(255, 255, 255, 0) 60%),url("../assets/bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.navbar {
  justify-content: center;
  align-items: center;
}

.navbar-container {
  margin-top: 30vh;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.navbar-container img {
  margin-left: 0px; /* Add spacing between image and text */
  height: 7.2vw;
}

.navbar-container h1 {
    margin-top: 5vh;
  font-family: "Literata", serif;
  color: rgb(50, 50, 50);
  font-size: 5vw;
}
